<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itheima.travel.mapper.FavoriteMapper">
    <select id="findFavoriteByRidAndUserId" resultType="Favorite">
        SELECT * FROM tab_favorite WHERE rid = #{rid} AND  uid = #{uid}
    </select>

    <insert id="addFavorite">
        INSERT INTO tab_favorite VALUES (#{rid},NOW(),#{uid})
    </insert>

    <update id="updateRouteFavoriteNum">
        UPDATE tab_route SET count=count+1 WHERE rid=#{rid}
    </update>

    <resultMap id="favoriteMap" type="Favorite" autoMapping="true">
        <id property="route.rid" column="rid"></id>
        <association property="route" javaType="Route" autoMapping="true">
            <id property="rid" column="rid"></id>
        </association>
    </resultMap>
    <select id="findFavoriteByPage" resultMap="favoriteMap">
        SELECT * FROM
            tab_favorite f,
            tab_route r
        WHERE
            f.rid = r.rid
        AND f.uid = #{uid}
        ORDER BY
            f.date DESC
    </select>
</mapper>